.background-menu {
    background-color: black;
    color: chartreuse;
    position: static;
}
.menu-left-side {
    display: flex;
    flex-wrap: wrap;
}
.menu-right-side {
    display: flex;
}
.menu-link {
    text-decoration: none;
    color: chartreuse;
}
.menu-link:hover {
    color: blue;
}
@media(max-width: 320px) {
    .menu-link {
        font-size: 17px;

    }
}
