.contact-page {
    background-color: #2B2B2B;
    
}
.contact-content {
    background-color: rgba(0, 0, 0, 0.5);
    height: calc(100vh - 56px);

    border: 2px solid chartreuse;
    border-radius: 10px;

    padding: 20px;
}
.contact-form {
    display: flex;
    flex-direction: column;

    height: 100%;
}
.contact-title {
    text-align: center;
}
.default-contact-input {
    border: 0px;
    border-radius: 5px;
    background-color: #888888;
}
.subject-input {
    height: 100%;
}
.contact-button {
    display: flex;
    justify-content: center;
}
@media(max-width: 425px) {
    .contact-content {
        font-size: 15px;
    }
}