.carousel-background{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.carousel-background > :nth-child(even) {
    width: 70vw;
}
.arrow {
    width: 30px;
    height: 30px;
}
@media(max-width: 425px) {
    .carousel-background{
        padding: 20px 0px;
    }
}