.background-image-one {
    background-image: url("../images/background-image-01.png");
    background-position: center;
    background-size: cover;
    height: calc(100vh - 56px);

    display: flex;
    justify-content: center;
    align-items: center;

}