.project-card {
    background-color: rgba(0, 0, 0, 0.5);
    height: 350px;
    width: 300px;

    border: 2px solid chartreuse;
    border-radius: 5px;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    margin: 10px;
}
.project-card:hover {
    border: 2px solid blue;
}
.project-card-titles {
    font-size: 20px;
    text-align: center;
}
.project-img {
    padding: 5px;
}
.divisor-card {
    height: 2px;
    width: 300px;

    background-color: chartreuse;
}
.project-card:hover > .divisor-card{
    background-color: blue;
}
.card-link {
    text-decoration: none;
    color: chartreuse;
}
.card-link:hover {
    color: blue;
}