.project-card {
    background-color: rgba(0, 0, 0, 0.5);

    border: 3px solid chartreuse;
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    align-items: center;

    width: 350px;
    height: 400px;

    margin: 10px;
}
.divisor-card {
    background-color: chartreuse;
    height: 3px;
    width: 90%;

    margin: 5px 0px;
}
.project-img {
    height: 150px;
}
.card-link {
    text-decoration: none;}

.obs-card {
    width: 80%;
}
.project-card-title{
    /* background-color: blue; */
    padding: 10px;
}